backend/src/main/resources/xsd/resenje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://www.ftn.uns.ac.rs/autorskoDelo">

    <xs:element name="resenje_zahteva">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="broj_prijave" type="xs:string"/>
                <xs:element name="datum_obrade" type="xs:date"/>
                <xs:element name="odbijen" type="xs:boolean"/>
                <xs:element name="ime_sluzbenika" type="xs:string"/>
                <xs:element name="prezime_sluzbenika" type="xs:string"/>
                <xs:element name="email_sluzbenika" type="xs:string"/>
                <xs:element name="razlog_odbijanja" type="xs:string"/>
                <xs:element name="sifra" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>